
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(to right, #33a18d, #94248c);
    font-family:'Roboto Mono','Roboto Flex', sans-serif, monospace, 'Courier New', 'ABeeZee', 'Courier New' ;
    font-size: 20px;
}
li {
    list-style: none;
    text-decoration: none;
}
li a {
    text-decoration: none;
}
.foto {
    text-align: center;

    border-radius: 70px;
}
.lista-menu {
    font-family:'Roboto Mono','Roboto Flex', sans-serif, monospace, 'Courier New', 'ABeeZee', 'Courier New' ;
   
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
    width: 50%;
}
.menu {
    font-family:'Roboto Mono','Roboto Flex', sans-serif, monospace, 'Courier New', 'ABeeZee', 'Courier New' ;
   
    background-image: linear-gradient(to right, #28a890, #94248c);

    background-color: #9c70ce;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
}
.menu li {
    font-family:'Roboto Mono','Roboto Flex', sans-serif, monospace, 'Courier New', 'ABeeZee', 'Courier New' ;
   
    list-style: none;
}
.menu a {
    font-family:'Roboto Mono','Roboto Flex', sans-serif, monospace, 'Courier New', 'ABeeZee', 'Courier New' ;
   
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #ffffff;
    text-decoration: none;
}
.title {
    font-family:'Roboto Mono','Roboto Flex', sans-serif, monospace, 'Courier New', 'ABeeZee', 'Courier New' ;
   
    font-weight: 700;
    font-size: 36px;
    color: #e2e8e7;
}
.intro {
    font-family:'Roboto Mono','Roboto Flex', sans-serif, monospace, 'Courier New', 'ABeeZee', 'Courier New' ;
   
    color: #000000;
    font-size: 17px;
    max-width: 490px;
    text-align: center;
}
.intro content {
    font-family:'Roboto Mono','Roboto Flex', sans-serif, monospace, 'Courier New', 'ABeeZee', 'Courier New' ;
   
    background-color: #edeaea;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 640px;
    padding: 100px;
}
.intro-content figure {
    margin-bottom: 20px;
}
section h1 {
    font-family:'Roboto Mono','Roboto Flex', sans-serif, monospace, 'Courier New', 'ABeeZee', 'Courier New' ;
   
    font-size: 24px;
    color: #f4faf9;
    margin-right: 50px;
}
.subtitle {
    font-family:'Roboto Mono','Roboto Flex', sans-serif, monospace, 'Courier New', 'ABeeZee', 'Courier New' ;
   
    font-size: 20px;
    color: #fdf9fd;
    margin-bottom: 20px;
}
.conteudo {
    font-family:'Roboto Mono','Roboto Flex', sans-serif, monospace, 'Courier New', 'ABeeZee', 'Courier New' ;
   
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 20px;
}
#portifolio {
    font-family:'Roboto Mono','Roboto Flex', sans-serif, monospace, 'Courier New', 'ABeeZee', 'Courier New' ;
   
    background-image: linear-gradient(to right, #33a18d, #94248c);

    background-color: #fdfbfb;
}
.descricao {
    font-family:'Roboto Mono','Roboto Flex', sans-serif, monospace, 'Courier New', 'ABeeZee', 'Courier New' ;
   
    font-size: 16px;
    line-height: 22px;
    color: #f7f2f2;
    font-weight: 700;
}
.item {
    margin-bottom: 30px;
}
#contato {
    background-image: linear-gradient(to right, #33a18d, #94248c);

    background-color: #f4f3f6;
    height: 200px;
    padding-left: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
        /*text-align: center*/
}
#contato {
    font-family:'Roboto Mono','Roboto Flex', sans-serif, monospace, 'Courier New', 'ABeeZee', 'Courier New' ;
   
    color: #ffffff;
    text-decoration: none;
}
